body {
	font-family: 'Lucida Grande';
	margin: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	cursor: default;
}

.container {
	display: none;
	width: 100%;
	margin-bottom: 85px;
}

.active {
	display: block;
}

.event_listener_layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.item {
	margin: 0;
	width: 100%;
	height: auto;
	display: -webkit-box;
	display:    -moz-box;
	display:         box;
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	        box-orient: horizontal;
}


/* item style */

.item_container {
	position: relative;
	margin: 0;
	background-color: rgb(255, 255, 255);
	/*border-top: 1px solid rgb(205, 244, 255);*/
	border-top: 1px solid rgb(255, 255, 255);
	padding: 12px;
	-webkit-box-ordinal-group: 1;
	   -moz-box-ordinal-group: 1;
	        box-ordinal-group: 1;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	        box-flex: 1;
}

.left_item {
	/*margin: 10px 10px;*/
	/*overflow : hidden;*/
	display: -webkit-box;
	display:    -moz-box;
	display:         box;
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	        box-orient: horizontal;
}

.img_wrap {
	width: 54px;
	height: 54px;
	margin: 0;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(208, 208, 208);
	-webkit-box-ordinal-group: 1;
	   -moz-box-ordinal-group: 1;
	        box-ordinal-group: 1;
}

.profile_image {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 2px;
	background-color: rgb(255, 255, 255);
	background-size: cover;
}

.retweet_img_wrap {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(208, 208, 208);
}

.retweet_profile_image {
	width: 20px;
	height: 20px;
	background-color: rgb(255, 255, 255);
	background-size: cover;
}

.text_wrap {
	/*margin-left: 70px;*/
	/*margin-bottom: 10px;*/
	width: auto;
	margin-left: 10px;
	-webkit-box-ordinal-group: 2;
	   -moz-box-ordinal-group: 2;
	        box-ordinal-group: 2;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	        box-flex: 1;
}

.screen_name {
	color: rgb(47, 144, 229);
	font-size: 12px;
	/*font-weight: bold;*/
}

.name {
	color: rgb(121, 121, 121);
	font-size: 10px;
	margin-left: 7px;
}

.text {
	color: rgb(28, 28, 28);
	margin-top: 5px;
	font-size: 12px;
}

.text a {
	color: rgb(28, 28, 28);
	text-decoration: none;
}

.created_at {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 10px;
	color: rgb(163, 163, 163);
}

/* buttons */

.buttons_container {
	display: none;
	background-color: rgb(80, 80, 80);
	border-top: 1px solid rgb(255, 255, 255);
	position: relative;
	width: 0;
	right: 0;
	-webkit-box-shadow: inset 1px 0 3px rgb(30, 30, 30);
	-moz-box-shadow: inset 1px 0 3px rgb(30, 30, 30);
	box-shadow: inset 1px 0 3px rgb(30, 30, 30);
	-webkit-box-ordinal-group: 2;
	   -moz-box-ordinal-group: 2;
	        box-ordinal-group: 2;
}

.buttons_opened {
	display: block;
}

.buttons_wrap {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-box-pack: center;
	   -moz-box-pack: center;
	        box-pack: center;
	-webkit-box-align: center;
	   -moz-box-align: center;
	        box-align: center;
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	        box-orient: horizontal;
}

.buttons_complete_opened .buttons_wrap {
	display: -webkit-box;
	display:    -moz-box;
	display:         box;
}

.action_button {
	text-align: center;
	margin: 0 13px;
	color: rgb(245, 245, 245);
	text-shadow: 0 1px 1px rgb(30, 30, 30);
	font-size: 14px;
}

.action_button:active {
	opacity: 0.8;
}

.favorite .favorite_button {
	color: rgb(255, 213, 134);
}

.retweet .retweet_button {
	color: rgb(183, 235, 126);
}

/* highlight */

.mine {
	background-color: rgb(229, 240, 249);
}

.reply {
	background-color: rgb(255, 236, 237);
}


/* selected */

.selected {
	background-color: rgb(95, 164, 224);
}

.selected .screen_name {
	color: rgb(255, 255, 255);
}

.selected .name {
	color: rgb(194, 220, 242);
}

.selected .text {
	color: rgb(255, 255, 255);
}

.selected .text a {
	color: rgb(255, 255, 255);
	text-decoration: underline;
}

.selected .created_at {
	color: rgb(194, 220, 242);
}


/* mini view */

.mini {
	padding: 2px 12px;
}

.mini .img_wrap {
	height: 24px;
}

.mini .profile_image {
	height: 20px;
	background-position: center center;
}

.mini .retweet_img_wrap {
	padding: 1px;
}

.mini .retweet_profile_image {
	height: 16px;
	width: 16px;
}

.mini .text_wrap {
	margin-top: 4px;
	overflow: hidden;
	display: -webkit-box;
	display:    -moz-box;
	display:         box;
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	        box-orient: horizontal;
}

.mini .user_name {
	width: 90px;
	-webkit-box-ordinal-group: 1;
	   -moz-box-ordinal-group: 1;
	        box-ordinal-group: 1;
}

.mini .screen_name {
	display: inline-block;
	width: 90px;
	margin-top: 1px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mini .name {
	display: none;
}

.mini .text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 1px;
	margin-left: 10px;
	-webkit-box-ordinal-group: 2;
	   -moz-box-ordinal-group: 2;
	        box-ordinal-group: 2;
	-webkit-box-flex: 1;
	   -moz-box-flex: 1;
	        box-flex: 1;
}

.mini br {
	display: none;
}

.mini .created_at {
	display: none;
}

.mini .statuses {
	position: relative;
	right: 0;
	top: 0;
	-webkit-box-ordinal-group: 3;
	   -moz-box-ordinal-group: 3;
	        box-ordinal-group: 3;
}

.mini .status {
	margin-top: 1px;
}

/* status symbols */

.statuses {
	position: absolute;
	right: 63px;
	top: 10px;
}

.status {
	display: none;
	font-size: 10px;
	color: rgb(255, 255, 255);
	margin-left: 7px;
	padding: 2px 6px;
	border-radius: 3px;
}

.favorite .favorite_symbol {
	display: inline-block;
}

.retweet .retweet_symbol {
	display: inline-block;
}

.favorite_symbol {
	background-color: rgb(255, 194, 68);
}

.retweet_symbol {
	background-color: rgb(152, 239, 52);
}

/* bottom */

.bottom_wrap {
	bottom: 0;
	position: fixed;
	width: 100%;
}

.post_field {
	position: relative;
	height: 60px;
	padding: 5px 40px 5px 5px;
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(50, 50, 50);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.post_textarea {
	width: 100%;
	height: 100%;
	border: none;
	resize: none;
	outline: none;
	font-size: 13px;
	overflow: hidden;
}

.post_textarea_count {
	position: absolute;
	font-size: 13px;
	right: 8px;
	bottom: 6px;
	font-weight: bold;
	color: rgb(130, 130, 130);
}

/* tab */

.tab {
	position: relative;
	width: 100%;
	height: 28px;
	background-color: rgb(80, 80, 80);
	border-top: 1px solid rgb(50, 50, 50);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.tab_list_box {
	position: absolute;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display:    -moz-box;
	display:         box;
	-webkit-box-align: center;
	   -moz-box-align: center;
	        box-align: center;
	-webkit-box-orient: horizontal;
	   -moz-box-orient: horizontal;
	        box-orient: horizontal;

}

.ls {
	color: rgb(245, 245, 245);
	text-shadow: 0 1px 1px rgb(30, 30, 30);
	font-size: 12px;
	padding: 0 20px;
	border-right: 2px solid rgb(50, 50, 50);
}

.ls:active {
	opacity: 0.8;
}
