body {
	font-family: 'Lucida Grande';
	margin: 0;
	-webkit-user-select: none;
	cursor: default;
}

.status {
	height: 40px;
	width: 100%;
}

.container {
	width: 100%;
	margin-bottom: 60px;
}

.post_field {
	bottom: 0;
	position: fixed;
	width: 100%;
	height: 60px;
	padding: 5px;
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(50, 50, 50);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.post_textarea {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	resize: none;
	font-size: 13px;
}

.item {
	margin: 0;
	width: 100%;
	height: auto;
}

.item_container {
	position: relative;
	margin: 0;
	/*background-color: rgb(247, 247, 247);*/
	background-color: rgb(255, 255, 255);
	border-top: 1px solid rgb(208, 208, 208);
	padding: 12px;
}

.selected {
	background-color: rgb(240, 240, 240);
}

.left_item {
	/*margin: 10px 10px;*/
	overflow : hidden;
}

.img_wrap {
	margin: 0;
	float: left;
	padding: 3px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(208, 208, 208);
}

.profile_image {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0;
	background-color: rgb(255, 255, 255);
	background-size: contain;
}

.retweet_img_wrap {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(208, 208, 208);
}

.retweet_profile_image {
	width: 20px;
	height: 20px;
	background-color: rgb(255, 255, 255);
	background-size: contain;
}

.text_warp {
	margin-left: 70px;
	margin-bottom: 10px;
	width: auto;
	right: 10px;
}

.screen_name {
	color: rgb(0, 173, 223);
	font-size: 13px;
	/*font-weight: bold;*/
}

.name {
	color: rgb(121, 121, 121);
	font-size: 10px;
	margin-left: 7px;
}

.text {
	color: rgb(28, 28, 28);
	margin-top: 5px;
	font-size: 12px;
}

.created_at {
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 10px;
	color: rgb(163, 163, 163);
}
